form { 
  width: 600px; 
  margin: auto; 
}

button { 
  margin-top: 1.5em; 
  padding: 0.7em 1.5em; 
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 1em;
  position: relative; 
}

input, textarea {
  width: 95%; 
  padding: 0.5em; 
  margin-top: 0.2em;
}

input[type=checkbox], input[type=radio] {
  width: 1.3em;
  height: 1.3em;
  margin: 0; 
  position: static;
}

.loading {
  flex: 1;
  margin: auto;
  align-content: center;
}

.loading svg {
  width: 55px;
  height: auto;
  margin: auto;
}

body {
  font-family: Arial, sans-serif; 
  margin: 2em; 
}

main {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 1.0rem;
  padding: 2px 5px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
/* header class for a banner or logo */
header {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
  background:#423e3c ;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

header h1 {
  word-wrap: break-word;
}

.navlinks {
  display: flex; 
  justify-content: flex-start; 
  gap: 2em;       
  padding-left: 20px;  
  background: #423e3c; 
}

.navlinks a {
  text-decoration: none;
  color: #bababa;
  font-weight: 500;
  transition: color 0.2s;
}

.navlinks a:hover {
  color: white;
}

html, body {
  height: 100%;
  margin: 1em;
  padding: 0;
}

body:not(.non-fixed) {
  margin: 1em;
  height: 98vh;
}

body {
  display: flex;
  flex-direction: column;
  
  /*margin:2em;*/
}

main {
  flex: 1; /* takes up remaining space */
}

footer {
  text-align: center;
  padding: 12px;
  background-color: #423e3c;
  color: white;
  margin-bottom: 2em;
  margin-top: 2em;
}

.status-ok {
  color: green;
  font-weight: bold;
}

.status-redirect {
  color: blue;
}

.status-client-error {
  color: orange;
  font-weight: bold;
}

.status-server-error {
  color: red;
  font-weight: bold;
}

.status-unknown {
  color: gray;
}

.form-main h2 {
  word-wrap: break-word;
  width: 600px;
}

.side-by-side-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0px;
  width: 100%;
  max-width: 587.5px;
}

fieldset {
  max-width: 587.5px;
  padding: 10px;
}

.side-by-side-div label {
  width: 80%;
  margin: 0;
}

.side-by-side-div input {
  grid-column-start: -1;
}

input[type=number], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local]{
  width: initial;
}

input[type=color]{
  width: 100px;
}